.about-container{
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
.about-page-div-one{
    width: 50%;
    height: 100vh;
    color: var(--textcol);
    display: flex;
    flex-direction: column;
    background-color: white;
}
.about-page-div-two{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.about-page-title{
    margin-top: 2vh;
    color: var(--darktext);
    margin-bottom: 2vh;
}
.about-page-content{
    text-align: justify;
    width: 90%;
    margin-left: 5%;
    font-size: 1.2rem;
    color: black;
    font-weight: 300;
}
.read-or-hide{
	color: blue;
	cursor: pointer;
	font-family: cursive;
	font-size: 0.8rem;
}
.about-founder-container1{
    height: 30vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
}
.about-founder-1{
    height: 30vh;
    width: 22vw;
    margin-left: 3vw;
}
.about-founder-img1{
    height: 30vh;
    width: 22vw;
    object-fit: contain;
}
.about-founder-text1{
    height: 30vh;
    width: 25vw;
    color: var(--darktext);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.about-founder-container2{
    height: 30vh;
    display: flex;
    flex-direction: row;
}
.about-founder-text2{
    height: 30vh;
    width: 25vw;
    color: var(--darktext);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.about-founder-2{
    height: 30vh;
    width: 20vw;
    margin-right: 3vw;
}
.about-founder-img2{
    height: 30vh;
    width: 20vw;
    object-fit: contain;
    background-color: transparent;
}
.about-founder-container3{
    height: 30vh;
    display: flex;
    flex-direction: row;
}
.about-founder-3{
    height: 30vh;
    width: 20vw;
    margin-left: 3vw;
}
.about-founder-img3{
    height: 30vh;
    width: 22vw;
    object-fit: contain;
}
.about-founder-text3{
    height: 30vh;
    width: 22vw;
    color: var(--darktext);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}