.blog-page-container
{
    height: 100vh;
    width: 100%;
    background-color: olivedrab;
    text-align: center;
    line-height: 100vh;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
}